@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body{
    background-color: #FFC960;
    color: white;
    font-family: "Nunito", sans-serif;
    overflow: auto;
    scroll-behavior: smooth;
    font-size: 12px;
}

body::-webkit-scrollbar {
    display: none; /* Untuk Chrome, Safari, dan Edge */
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

.cover{
    height: 100vh;
    background-color: #1B1B1B;
    position: relative;
}

.cover .item-image-1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
}
.cover .item-image-2 {
    position: absolute;
    top: 5px;
    left: 50%;
    width: 100px;
    transform: translate(-50%);
}
.cover .item-image-3{
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
}
.cover .item-image-4{
    position: absolute;
    top: 50%;
    left: 5px;
    width: 1.5px;
    transform: translate(-50%, -50%);
}
.cover .item-image-5{
    position: absolute;
    top: 50%;
    right: 5px;
    width: 1.5px;
    transform: translate(-50%, -50%);
}
.cover .item-image-6{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100px;
}
.cover .item-image-7{
    position: absolute;
    bottom: 5px;
    left: 50%;
    width: 100px;
    transform: translate(-50%);
}
.cover .item-image-8{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100px;
}

.cover-content h3{
    font-family: "Grenze Gotisch", serif;
    font-size: 3rem;
}

.cover-content h3 b{
    font-family: "Playfair Display", serif;
}

.cover-content a{
    background-color: #B17500;
    color: white;
}

/* quotes */
.quotes-content h3{
    font-family: "Grenze Gotisch", serif;
    font-size: 1.5rem;
}

.quotes-content h3 b{
    font-family: "Playfair Display", serif;
}

/* mempelai */
.mempelai-content h3{
    font-family: "Grenze Gotisch", serif;
    font-size: 1.5rem;
}

.mempelai-content h3 b{
    font-family: "Playfair Display", serif;
}

/* acara */
.acara-content i{
    font-size: 1.3rem;
}

p.tanggal-acara{
    color: #FFC147;
    font-size: 1rem;
}
p.jam-acara{
    font-size: 1rem;
}

.taggal-pernikahan span{
    font-size: 1rem;
}

.acara-content a.btn-lokasi{
    background-color: #B17500;
    color: white;
    font-size: 12px;
}

a.btn-lokasi i{
    font-size: 12px;
}

/* doa */
.doa-content h3{
    font-family: "Grenze Gotisch", serif;
    font-size: 1.5rem;
}

.doa-content h3 b{
    font-family: "Playfair Display", serif;
}

.ttd{
    font-size: 8px;
}

@media(max-width: 768px){
    .cover-content h3{
        font-size: 2rem;
    }
}